* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Dancing Script", cursive;
  font-family: "Inconsolata", monospace;
  font-family: "Lora", serif;
  font-family: "Martian Mono", monospace;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
}
* li {
  list-style: none;
}
* a {
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 50px;
}

nav {
  width: 100%;
  padding: 20px 0px;
  position: fixed;
  z-index: 100;
  transition: all 0.7s ease;
}
nav .nav-center {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
nav .nav-center .menu ul {
  display: flex;
  gap: 20px;
}
nav .nav-center .menu ul a {
  font-size: 13px;
  color: white;
}
nav .nav-center i {
  font-size: 30px;
  color: white;
  display: none;
}

#banner {
  width: 100%;
  background-image: url(./robots\ image/banner-bg.jpg.webp);
  padding: 190px 0px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#banner .banner-center {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  gap: 50px;
}
#banner .left {
  width: 60%;
  height: 100%;
  color: white;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
}
#banner .left h1 {
  font-size: 4rem;
  font-weight: 400;
}
#banner .left button {
  padding: 12px 32px;
  font-weight: 500;
  border: 1px solid white;
  cursor: pointer;
  background-color: white;
}
#banner .left button:hover {
  background-color: #8a90ff;
  border: 1px solid white;
  color: white;
  transition: all 0.5s ease;
}
#banner .right {
  width: 60%;
}
#banner .right img {
  max-width: 100%;
  min-height: 100%;
}

#products {
  width: 100%;
  padding: 100px 0px;
}
#products .products-center {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 100px;
}
#products .products-center .top {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
#products .products-center .top h2 {
  font-size: 2.5rem;
  font-weight: 500;
  text-align: center;
}
#products .products-center .top p {
  color: #777777;
}
#products .products-center .bottom {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 30px;
}
#products .products-center .bottom .card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  box-shadow: 0px 0px 50px 20px #f9f9ff;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
#products .products-center .bottom .card img {
  background-color: white;
  padding: 50px 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
#products .products-center .bottom .card .bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  background-color: #f9f9ff;
}
#products .products-center .bottom .card .bottom a {
  color: black;
  font-weight: 600;
}
#products .products-center .bottom .card .bottom h5 {
  font-size: 20px;
}
#products .products-center .bottom .card .bottom p {
  color: #777777;
}
#products .products-center .bottom .card .bottom button {
  padding: 12px 32px;
  font-weight: 500;
  background-color: white;
  border: 1px solid white;
  cursor: pointer;
}
#products .products-center .bottom .card .bottom button:hover {
  background-image: -webkit-linear-gradient(0deg, #828fff 0%, #d496ff 100%);
}
#products .products-center .bottom .card .bottom button:hover a {
  color: white;
  transition: all 0.4s ease;
}

#sec3 {
  width: 100%;
  padding: 50px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#sec3 .left {
  max-width: 50%;
}
#sec3 .left img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
#sec3 .right {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 35%;
  margin: 0 auto;
  gap: 20px;
}
#sec3 .right h2 {
  font-size: 45px;
}
#sec3 .right p {
  color: #777777;
}
#sec3 .right button {
  padding: 12px 32px;
  font-weight: 500;
  background-image: -webkit-linear-gradient(0deg, #828fff 0%, #d496ff 100%);
  border: 1px solid white;
  cursor: pointer;
  color: white;
}
#sec3 .right button:hover {
  background-image: none;
  background-color: white;
  color: #d496ff;
  transition: all 0.5s ease;
  border: 1px solid #d496ff;
}

#sec4 {
  width: 100%;
  padding: 70px 0px;
}
#sec4 .sec4-center {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
#sec4 .sec4-center .left {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
}
#sec4 .sec4-center .left h2 {
  font-size: 50px;
}
#sec4 .sec4-center .left h5 {
  color: #8a90ff;
}
#sec4 .sec4-center .left p {
  color: #777777;
}
#sec4 .sec4-center .left button {
  padding: 15px 32px;
  font-weight: 500;
  background-image: -webkit-linear-gradient(0deg, #828fff 0%, #d496ff 100%);
  border: 1px solid white;
  cursor: pointer;
  color: white;
}
#sec4 .sec4-center .left button:hover {
  background-image: none;
  background-color: white;
  color: #d496ff;
  transition: all 0.5s ease;
  border: 1px solid #d496ff;
}
#sec4 .sec4-center .right {
  width: 54%;
  height: 330px;
  background-image: url(./robots\ image/video-bg.jpg.webp);
}
#sec4 .sec4-center .right .after {
  width: 100%;
  height: 100%;
  background-image: -webkit-linear-gradient(0deg, #828fff 0%, #d496ff 100%);
  opacity: 0.8;
  display: flex;
  justify-content: center;
  align-items: center;
}
#sec4 .sec4-center .right .after i {
  font-size: 60px;
  color: white;
  cursor: pointer;
}

#pink {
  width: 100%;
  padding: 100px 0px;
  background-image: url(./robots\ image/pink-bg.jpg);
}
#pink .pink-center {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
}
#pink .pink-center .top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  color: white;
}
#pink .pink-center .top h2 {
  font-size: 40px;
  font-weight: 500;
}
#pink .pink-center .bottom {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 30px;
}
#pink .pink-center .bottom .card {
  width: 100%;
  background-color: aliceblue;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 40px 50px;
  cursor: pointer;
  background-color: white;
}
#pink .pink-center .bottom .card .head {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
#pink .pink-center .bottom .card .head i {
  font-size: 30px;
}
#pink .pink-center .bottom .card p {
  color: #777777;
}
#pink .pink-center .bottom .card:hover .head {
  color: #8a90ff;
  transition: all 0.5s ease;
}

#sec6 {
  width: 100%;
  padding: 100px 0px;
}
#sec6 .sec6-center {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, auto);
}
#sec6 .sec6-center .imgs {
  width: 100%;
}
#sec6 .sec6-center .imgs img {
  width: 60%;
  filter: grayscale(100%);
}
#sec6 .sec6-center .imgs img:hover {
  filter: grayscale(0%);
  transition: all 0.4s ease;
}

#sec7 {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 100px;
}
#sec7 .sec7-center {
  width: 100%;
}
#sec7 .sec7-center .top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 50px;
}
#sec7 .sec7-center .top h2 {
  font-size: 40px;
  font-weight: 500;
}
#sec7 .sec7-center .bottom {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
#sec7 .sec7-center .bottom .cards {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 15px;
}
#sec7 .sec7-center .bottom .cards img {
  width: 100%;
}
#sec7 .sec7-center .bottom .cards .buttons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
#sec7 .sec7-center .bottom .cards .buttons button {
  padding: 10px 25px;
  border: 1px solid white;
  background-image: -webkit-linear-gradient(0deg, #828fff 0%, #d496ff 100%);
  cursor: pointer;
  color: white;
}
#sec7 .sec7-center .bottom .cards .buttons button:hover {
  background-image: none;
  background-color: white;
  color: black;
  transition: all 0.5s ease;
  border: 1px solid #d496ff;
}
#sec7 .sec7-center .bottom .cards .text {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 15px;
}
#sec7 .sec7-center .bottom .cards .text h3 {
  font-size: 20px;
}
#sec7 .sec7-center .bottom .cards .text p {
  color: #777777;
}
#sec7 .sec7-center .bottom .cards .text h4 {
  font-weight: 200;
}

footer {
  width: 100%;
  padding-top: 100px;
  padding-bottom: 120px;
  background-image: url(./robots\ image/footer-bg.jpg.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
}
footer a {
  color: white;
}
footer .footer-center .top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
footer .footer-center .top .div1 ul li {
  padding-bottom: 10px;
}
footer .footer-center .top .div1 ul li:hover a {
  color: #8a90ff;
  transition: all 0.5s ease;
}
footer .footer-center .top .div2 p {
  padding-bottom: 20px;
}
footer .footer-center .top .div2 .subscribe {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
footer .footer-center .top .div2 .subscribe input {
  padding: 10px 100px 10px 20px;
  border: 1px solid white;
  border-radius: 9999px;
}
footer .footer-center .top .div2 .subscribe button {
  padding: 10px 25px;
  border: none;
  background-image: -webkit-linear-gradient(0deg, #828fff 0%, #d496ff 100%);
  cursor: pointer;
  color: white;
  border-radius: 9999px;
}
footer .footer-center .top .div2 .subscribe button:hover {
  opacity: 0.9;
  transition: all 0.5s ease;
}
footer .footer-center .top .div2 .subscribe button span {
  padding-left: 15px;
}
footer .footer-center .top .div3 ul {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 10px;
}
footer .footer-center .top h4 {
  padding-bottom: 30px;
  font-size: 20px;
}
footer .footer-center .bottom {
  width: 100%;
  padding-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footer-center .bottom span {
  color: #8a90ff;
}
footer .footer-center .bottom .icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
footer .footer-center .bottom .icons i {
  cursor: pointer;
  padding: 10px 15px;
  background: black;
}
footer .footer-center .bottom .icons i:hover {
  background-image: -webkit-linear-gradient(0deg, #828fff 0%, #d496ff 100%);
}

.form {
  width: 100%;
  padding: 150px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.form .form-center {
  background-color: antiquewhite;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding: 100px;
  border-radius: 20px;
  box-shadow: 0 0 20px black;
}
.form .form-center input {
  width: 100%;
  padding: 10px 20px;
  margin-bottom: 20px;
}
.form .form-center #submit {
  background-color: blue;
  color: white;
  cursor: pointer;
}
.form .form-center #submit:hover {
  opacity: 0.8;
  transition: all 0.5s ease;
}

.cardDetails {
  width: 100%;
  height: 100vh;
  padding-top: 200px;
  padding-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}
.cardDetails img {
  width: 150px;
}
.cardDetails .bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
}
.cardDetails .bottom h5 {
  font-size: 50px;
}
.cardDetails .bottom p {
  font-size: 30px;
}
.cardDetails .bottom button {
  padding: 15px 32px;
  font-weight: 500;
  background-image: -webkit-linear-gradient(0deg, #828fff 0%, #d496ff 100%);
  border: 1px solid white;
  cursor: pointer;
}
.cardDetails .bottom button a {
  color: white;
}
.cardDetails .bottom button:hover {
  background-image: none;
  background-color: white;
  transition: all 0.5s ease;
  border: 1px solid #d496ff;
}
.cardDetails .bottom button:hover a {
  color: #d496ff;
}

@media screen and (max-width: 992px) {
  #products .products-center {
    width: 90%;
  }
  #products .products-center .bottom {
    grid-template-columns: repeat(2, auto);
  }
  #sec3 {
    flex-direction: column;
  }
  #sec3 .left {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
  }
  #sec3 .right {
    width: 100%;
    padding: 20px;
  }
  #sec4 .sec4-center {
    flex-direction: column;
  }
  #sec4 .sec4-center .left {
    width: 100%;
  }
  #sec4 .sec4-center .right {
    width: 100%;
  }
  #pink .pink-center .bottom {
    grid-template-columns: repeat(2, auto);
  }
  footer .footer-center .top {
    flex-direction: column;
  }
  footer .footer-center .top .div2 {
    padding: 60px 0px;
  }
  footer .footer-center .top .div2 .subscribe {
    flex-direction: column;
    align-items: flex-start;
  }
  footer .footer-center .top .row {
    width: 100%;
  }
  footer .footer-center .top .row input {
    width: 100%;
  }
  footer .footer-center .bottom {
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
  }
  .cardDetails {
    flex-direction: column;
  }
}
@media screen and (max-width: 961px) {
  nav .nav-center .menu {
    display: none;
  }
  nav .nav-center i {
    display: block;
  }
}
@media screen and (max-width: 768px) {
  #banner .banner-center {
    flex-direction: column;
  }
  #banner .banner-center .left {
    width: 100%;
  }
  #banner .banner-center .right {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #products .products-center {
    margin: 0 auto;
    width: 80%;
  }
  #products .products-center .bottom {
    grid-template-columns: repeat(1, auto);
  }
  #pink .pink-center .bottom {
    grid-template-columns: repeat(1, auto);
  }
  #sec7 .sec7-center .bottom {
    flex-direction: column;
  }
}/*# sourceMappingURL=style.css.map */